<a href="https://colab.research.google.com/github/shyamkrishnan1999/AI-and-ML-Lab/blob/main/Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Loading the dataset

df=pd.read_csv('sample_data/california_housing_train.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
#splitting data for linear regression

from sklearn.model_selection import train_test_split

x=df[['housing_median_age']]
y=df[df.columns[-1]]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [ ]:
# Creating a simple Linear Regression model and training it.

from sklearn.linear_model import LinearRegression

model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [ ]:
# Checking accuracy metrics

from sklearn.metrics import mean_squared_error,r2_score

print(mean_squared_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

13339126190.629112
0.013564826929198026

In [ ]:
# splitting data for multiple linear regression

x=df[df.columns[:-1]]
y=df[df.columns[-1]]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [ ]:
# Creating a Multiple Linear Regression model and training it.

from sklearn.linear_model import LinearRegression

model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [ ]:
# Checking accuracy metrics

print(mean_squared_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

5038733410.50676
0.615073871541429

In [ ]:
#implementing polynomial regression

from sklearn.preprocessing import PolynomialFeatures

poly=PolynomialFeatures(degree=3)
x_poly=poly.fit_transform(x_train)

model=LinearRegression()
model.fit(x_poly,y_train)

LinearRegression()

In [ ]:
# creating predictions from our model

x_poly_test=poly.fit_transform(x_test)
y_pred=model.predict(x_poly_test)

In [ ]:
# Checking accuracy metrics

print(mean_squared_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

153407416525.1105
-10.719318747189549